@media only screen and  (max-width: 1290px) {
    // body{
    //     background-color: red !important;
    // }
}


@media only screen and  (max-width: 1070px) {
    // body{
    //     background-color: green !important;
    // }
}

@media only screen and  (max-width: 768px) {
    // body{
    //     background-color: blue !important;
    // }

    .main-header{
        .navigation-holder{
            display: none;
        }
    }

    .search-container{
        .search-input-item{
            width: 100% !important;
            padding-bottom: 10px !important;
            border-right:none !important;
        }
        .main-search-input{
            padding: 8px 15px !important;
           
        }
    
        .main-search-button{
            position: relative !important;
            width: 100% !important;
            right: 0;
            top: 0;
            bottom: 0;
            height: 40px;
            line-height: 40px;
            margin-top: 10px;
        }
        .bootstrap-select {
            width: 100% !important;
            margin-top: 6px;
        }

        .intro-item {
            h1{
                font-size: 6vw !important;
            }
        }
    }
}

@media only screen and  (max-width: 650px) {
    // body{
    //     background-color: orange !important;
    // }
    .intro-item {
        h1{
            font-size: 7vw !important;
        }
    }

    .main-header{
        .navigation-holder{
            display: none;
        }
    }
}

@media only screen and  (max-width: 460px) {
    // body{
    //     background-color: orchid !important;
    // }
}

@media only screen and  (max-width: 360px) {
    // body{
    //     background-color: peru !important;
    // }
}

