.advertisement{
    position: relative;
    padding: 40px 0;
    background-image: -webkit-linear-gradient(225deg, #70f6ea 0%, #51ccdc 100%);
    background-image: linear-gradient(225deg, #70f6ea 0%,#51ccdc 100%);

    &::before{
        position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: ' ';
    background-image: url('../../assets/images/texture-shapes-bg.png');
    }

    h2{
        text-align: center;
    }
}